@import "@fontsource/inter";
@import "tailwindcss";

body {
  background-color: #000;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: white;
}

h1 {
  font-size: 8rem;
  line-height: 1;
  font-weight: 800;
  font-family: "Inter";
  font-weight: 700;
}

h2 {
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 1.25rem;
  font-weight: 800;
  font-weight: 900;
  font-family: "Inter";
}

h3 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 800;
}

p {
  margin-bottom: 0.25rem;
}

body {
  margin: 0;
  font-family: "Inter";
}

.navbar {
  padding: 0.75rem;
  display: flex;
  width: 100%;
}

button,
.button {
  padding: 0.75rem 1.25rem;
  color: white;
  border-bottom-width: 4px;
  border-radius: 0.75rem;
  border-color: rgb(30 41 59);
}

dt {
  font-weight: 700;
}

.bg-twitter {
  background-color: #1da1f2;
}

.bg-discord {
  background-color: #5865f2;
}
